<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то пригласил вас на <%= root_url %>, Вы можете принять приглашение, пройдя по ссылке ниже.</p>

<p><%= link_to 'Принять приглашение', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token, :locale=> 'ru') %></p>

<p>Если вы не хотите принимать приглашение, просто проигнурируйте это письмо.<br />
Ваш аккаунт не будет создан до тех пор, пока вы не пройдете по ссылке выше.</p>
